<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Accounts</title>
</head>
<div class="userInfo">

    <body>
        <% for (let i = 0; i < user.length; i++) { %>
            <div id="user"> user: <%= user[i].username %></div>
            <div id="userperms"> Perms are <%= user[i].perms %></div>
            <br>
        <%}%>
        <div id="links">
            <a id="home" href="/">Home <br></a>
            <a href="/logout">Logout <br></a>
        </div>
    </body>
</div>

</html>