<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleted Account.</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Thank you for your patience. Your account has been deleted.</h3>
</body>
</html>