<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id='timer'>00:00:00:00</div>
    <div id='labels'> <span id='hh'>Hours</span> <span id='mm'>Minutes</span> <span id='ss'>Seconds</span> <span
            id='ms'>Centiseconds</span> </div>
    <script>        T = {};
        T.timerDiv = document.getElementById('timer');
        function displayTimer() {
            // initilized all local variables:
            var hours = '00',
                minutes = '00',
                miliseconds = 0,
                seconds = '00',
                time = '',
                timeNow = new Date().getTime(); // timestamp (miliseconds)
            T.difference = timeNow - T.timerStarted;
            // milliseconds
            if (T.difference > 10) {
                miliseconds = Math.floor((T.difference % 1000) / 10);
                if (miliseconds < 10) {
                    miliseconds = '0' + String(miliseconds);
                }
            }
            // seconds
            if (T.difference > 1000) {
                seconds = Math.floor(T.difference / 1000);
                if (seconds > 60) {
                    seconds = seconds % 60;
                }
                if (seconds < 10) {
                    seconds = '0' + String(seconds);
                }
            }
            // minutes
            if (T.difference > 60000) {
                minutes = Math.floor(T.difference / 60000);
                if (minutes > 60) {
                    minutes = minutes % 60;
                }
                if (minutes < 10) {
                    minutes = '0' + String(minutes);
                }
            }
            // hours
            if (T.difference > 3600000) {
                hours = Math.floor(T.difference / 3600000);
                // if (hours > 24) {
                //  hours = hours % 24;
                // }
                if (hours < 10) {
                    hours = '0' + String(hours);
                }
            }
            time = hours + ':'
            time += minutes + ':'
            time += seconds + ':'
            time += miliseconds;
            T.timerDiv.innerHTML = time;
        }
        function startTimer() {
            // save start time
            T.timerStarted = new Date().getTime()
            console.log('T.timerStarted: ' + T.timerStarted)
            if (T.difference > 0) {
                T.timerStarted = T.timerStarted - T.difference
            }
            // update timer periodically
            T.timerInterval = setInterval(function () {
                displayTimer()
            }, 10);
            // show / hide the relevant buttons:
            document.getElementById('go').style.display = "none";
            document.getElementById('stop').style.display = "inline";
            document.getElementById('clear').style.display = "none";
        }
        function stopTimer() {
            clearInterval(T.timerInterval); // stop updating the timer
            document.getElementById('stop').style.display = "none";
            document.getElementById('go').style.display = "inline";
            document.getElementById('clear').style.display = "inline";
        }
        function clearTimer() {
            clearInterval(T.timerInterval);
            T.timerDiv.innerHTML = "00:00:00:00"; // reset timer to all zeros
            T.difference = 0;
            document.getElementById('stop').style.display = "none";
            document.getElementById('go').style.display = "inline";
            document.getElementById('clear').style.display = "none";
        }
        var start = false
        var id = ""
        var SetTimer = false
        var timerStatus = "Stopped"
        //usually scanners throw an 'Enter' key at the end of read
        document.addEventListener('keypress', e => {
            //logs the key pressed
            console.log(e.key);

            //Note: key code 64 is not availble on a standered computer
            if (e.keyCode === 64 && start == false) {
                //If You have not started the timer, start it.
                console.log("start");
                start = true
            }
            //Note: key code 62 is not availble on a standered computer
            if (e.keyCode === 62) {
                //If You have not ended the timer, end it.
                console.log("end");
                start = false

                //When scanned, check if the timer is on/off
                //If off, set to on
                if (SetTimer == false && timerStatus == "Stopped"){
                    SetTimer = true;
                    timerStatus = "Running"
                    startTimer()
                } 
                //If on, set to off
                else if (SetTimer == true && timerStatus == "Running") {
                    SetTimer = false
                    stopTimer()
                } 
                //If timer stops, but status is running, clear the timer
                else if (SetTimer == false && timerStatus == "Running") {
                    timerStatus = "Stopped"
                    clearTimer()
                }
                console.log(id);
                id = ""
            }
            
            if (start == true && e.keyCode !== 64) {
                id += e.key
            }
        });
    </script>
    </script>


</body>

</html>