<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <script>
        /* function to delete your account. */
        function confirmDelete() {
            if (confirm('Are you sure you want to delete your account?')) {
                window.location.href = "/deleteAccount";
            }
        }

        function checkData() {
            var start = false
            var timer = false
            var id = ""
            document.addEventListener('keypress', e => {
                //usually scanners throw an 'Enter' key at the end of read
                console.log(e.key);
                if (e.keyCode === 64 && start == false) {
                    console.log("start");
                    start = true
                }
                if (e.keyCode === 62) {
                    console.log("end");
                    start = false
                    document.getElementById('ID').value = id
                    document.getElementById('log').submit()
                    console.log(id);
                    id = ""
                }
                if (start == true && e.keyCode !== 64) {
                    id += e.key
                }
            });
        }
    </script>
</head>

<body>
    <!-- In the paragraph tag, we inserted the user from app.js in order to read
         the proper acc name, no matter the account signed in-->
    <p>Welcome Back <%=user%>!</p>
    <div>
        <a href="/changePassword">Change Password<br></a>
        <!-- If the user from app.js has admin level perms, a button will appear that
            takes them to the /acc page.-->
        <% if (perms <= 1) { %>
        <a href="/acc">View Accounts<br></a>
        <% } %>
        <a href="/logout">Logout<br></a>
        <% if (perms == 0) { %>
        <form action="/scan" method="post">
            <input id='scanBox' type="text" name="textbox" /><br>
            <input type="submit" value="Submit" onclick="checkData()">
            <% } %>
            <button onclick='confirmDelete()'>Delete Account</button>
    </div>
</body>

</html>