<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <body>
        <form action="/register" method="post">
                <input type="text" value="name">
                <input type="text" value="password">
                <input type="text" value="accNum"> 
                <input type="submit" name="submit" value="submit">
        </form>
       
    </body>

</html>